body{
	padding:50px 0px 0px 0px;
	margin:0;
	font-family:'PT sans';
	color#222;
	text-align:center;
	-webkit-transition-duration: .1s; 
	-moz-transition-duration: .1s; 
	-o-transition-duration: .1s; 
	-transition-duration: .1s;      
	animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;	

    background-image:url(../img/vignette.png);
	text-rendering: optimizeLegibility;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

h2{
	font-size:30px;
	color:#000;
	text-shadow:1px 1px 1px #fff;
}


h3{
	font-size:20px;
	color:#000;
	text-shadow:1px 1px 1px #fff;
	margin:50px 0px 10px 0px;
}

canvas{
	
}

.container{
	width:100%;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
}

.clock{
	display:inline;
}

.alarm{
	display:none;
	margin:10px 0px 0px 0px;
}

.alarm a{
	text-decoration:none;
	padding:5px 10px 5px 10px;
	color:#FFF;
	background-color:#026729;
	border-radius:5px;
}

.alarm a:hover{
	text-decoration:none;
	padding:4px 9px 4px 9px;
	color:#fefefe;
	background-color:#026729;
	border-radius:5px;
}

#set{
	text-decoration:none;
	padding:5px 10px 5px 10px;
	color:#FFF;
	background-color:#F3A829;
	border-radius:5px;
}

#set:hover{
	text-decoration:none;
	padding:4px 9px 4px 9px;
	color:#fefefe;
	background-color:#F3A829;
	border-radius:5px;
}
